# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
# .env

# OS
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/.env.local

