fastapi
uvicorn
python-dotenv
requests
psycopg2-binary
pinecone
langchain
langchain-community
langchain-google-genai
sentence-transformers
guardrails-ai
google-generativeai
pydantic
numpy
scipy
clickhouse_connect
promptlayer

